* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    
    margin:0px;
    padding:0px;
}
html{
    width:100%;
    height:100%;
}
body{    
    margin:0px;
    padding:0px;
    background:black;
}
ul {
    margin:0px;
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;    
}
.wrapper {
  
    max-width:1600px;
    min-height: 100%;
    margin: 0px auto;
    padding:0px;
    overflow: hidden;
    position: relative;
}
.header {
    width:100%;
    max-height: 610px;
    border-top: 10px solid #2ecc71;
    background: url("image/background_header.png") no-repeat;
    background-size:cover;
    position: relative;
    padding-left:330px;
    padding-top:190px;
    padding-bottom: 100px;
}
@media screen and (max-width:1200px){
    .header{
        padding-left:280px;
    padding-top:160px;
    padding-bottom: 80px;
    }
}
@media screen and (max-width:1000px){
    .header{
        padding-left:230px;
    padding-top:130px;
    padding-bottom: 60px;
    }
}
@media screen and (max-width:800px){
    .header{
       padding-left:180px;
    padding-top:100px;
    padding-bottom: 40px;
    }
}
@media screen and (max-width:600px){
    .header{
       padding:10px;
    }
}
.header .logo {
    font-family: 'Pacifico', cursive;
    font-size:60px;
    color:white;
    position: relative;
}
.header .logo:after{
        content: '.';
        color:#2ecc71;
        font-size: 60px; 
    }
@media screen and (max-width:1000px) {
    .header .logo{
       font-size:45px; 
    }
    .header .logo:after {
        font-size:45px; 
    }
}
@media screen and (max-width:480px) {
    .header .logo{
       font-size:30px; 
    }
    .header .logo:after {
        font-size:30px; 
    }
}
.header .text {
    color:white;
    font-size:24px;
    font-family: Arial;
    width:40%;
}
@media screen and (max-width:1000px){
    .header .text {
        font-size:18px;
    }
}
@media screen and (max-width:480px){
    .header .text {
        font-size:12px;
    }
}

 
    
.header .circle{
    width:50px;
    height:50px;
    background:#ffffff;
    border-radius:50%;
    display:inline-block;
    margin-right: 15px;
    margin-top:20px;
    opacity: 0.3;
    overflow: hidden;
    position: relative;
    
}
.header .circle:hover {
    background: #dfdfe5;
    opacity: 0.7;
}
.header .circle:active{
       box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);  
}
.header .circle .icon-1 {    
    background-image: url(image/apple.png);
    background-size:30px;
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    position: absolute;
    left:20%;
    top:15%;}
.header .circle .icon-2 {    
    background-image: url(image/android.png);
    background-size:30px;
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    position: absolute;
    left:20%;
    top:15%;}
.header .circle .icon-3 {    
    background-image: url(image/windows.png);
    background-size:30px;
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    position: absolute;
    left:20%;
    top:17%;}

.content-wrapper{
    background: white;
    max-width:1600px;
    display: block;
    
}
.content-wrapper .menu {
    width: 100%;
    height: auto;
    min-height: 250px;
    padding: 0px 50px; 
    overflow: hidden;
}

.content-wrapper .menu .block {
    width:32%;
    height: auto;
    float:left;   
}
@media screen and (max-width:480px) {
  .content-wrapper .menu .block {
    width:100%;
      padding-bottom: 10px;
}  
}
.content-wrapper .menu .block:after{
    display: block;
     font-size: 0;
     content: " ";
     clear: both;
   
}
.content-wrapper .menu  .circle {
    width:100px;
    height: 100px;
    border-radius:50%;
    background:#bababa;
    margin: 0 auto;
    position: relative;
     overflow: hidden;
    margin-bottom: 30px;
}
.content-wrapper .menu .block1 .icon {
    background-image: url('image/gear.png');
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    background-size:70px;
    position:absolute;
    left:17.5%;
    top:15%;
}
.content-wrapper .menu .zagolovok {
    font-size:22px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper .menu .text{
    font-family: arial;
    font-size: 16px;
    color:#bababa;
    text-align: center; 
}
@media screen and (max-width:480px) {
    .content-wrapper .menu .zagolovok {
     font-size:16px;  
    margin-bottom: 5px;
    } 
    .content-wrapper .menu .text {
        font-size: 12px;
    }
    .content-wrapper .menu  .circle {
        margin-bottom: 5px;
    }
    
}
.content-wrapper .menu .block2 .icon {
    background-image: url('image/star.png');
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    background-size:87px;
    position:absolute;
    left:5%;
    top:3%;
   }
.content-wrapper .menu .block3 .icon {
    background-image: url('image/world.png');
    background-repeat: no-repeat;
    width:95%;
    height: 95%;
    background-size:80px;
    position:absolute;
    left:11%;
    top:14%;}
.content {
    max-width:1600px;
    height: auto;
    background: #e3e3e3;
    padding: 60px 0px;
    display: block;
    
}
.content .main {
    display: inline-block;
    width:32%;
    height: auto;
    min-width:460px;
    vertical-align: top;
    margin-left:210px;
    
}
@media screen and (max-width:800px) {
    .content .main {
        margin-left:80px;
    }
}
.content .main .zagolovok {
    font-size:22px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 30px;  
    width:460px;
}
.content .main .text {
    font-family: arial;
    font-size: 16px;
    color:#848484;
    text-align:justify; 
    margin-bottom:30px;
}
.content .form_email {
    vertical-align: top;
    width:310px;
    height:60px;
    font-family: arial;
    font-size: 16px;
    color:#848484;
    border:1px solid #848484;
    padding: 20px 25px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
   
    
}
.content .form_submit {
     vertical-align: top;
    width:150px;
    height:60px;
    font-family: arial;
    font-size: 20px;
    color:#ffffff;
    border:1px solid #848484;
    padding: 20px 25px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left:-5px;
    background:#2ecc71;
}
.content .form_submit:hover{
    cursor:pointer;
}
@media screen and (max-width:480px){
    .content .main .zagolovok{
        font-size:16px;
    }
    .content .main .text {
        font-size: 12px;
        max-width: 350px;
    }
    .content .main {
        margin-left:10px;
    }
    .content .form_email {
    width:160px;
    height:40px; 
        font-size: 12px;
    }
    .content .form_submit {
    
      width:100px;
    height:40px;  
      font-size: 12px; 
        padding:13px;
        padding-bottom:27px;

    }
    
}


.content  .video {
    display: inline-block;
    max-width:500px;
    height:auto;
    background: black;
    margin: 0px 100px;
    border-radius: 15px;
    margin-left:170px;
}
.content  .play{
   width:500px;
    height:300px; 
}
@media screen and (max-width:1500px){
    .content  .video {
        margin-top:10px;
        margin-left: 50px;
    }
}
@media screen and (max-width:1350px){
    .content  .video {
        margin-left: 400px;
    }
    .content .main{
   margin-left: 420px;    
    }
}
@media screen and (max-width:1100px){
    .content  .video {
        margin-left: 250px;
    }
    .content .main{
   margin-left: 270px;    
    }
}
@media screen and (max-width:900px){
    .content  .video {
        margin-left: 150px;
    }
    .content .main{
   margin-left: 170px;    
    }
    
}
@media screen and (max-width:700px){
    .content  .video {
        margin-left: 10px;
    }
    .content .main{
   margin-left: 30px;    
    }
    
}
@media screen and (max-width:480px){
    .content .main .zagolovok{
      font-size:16px;       
    margin-bottom: 15px;
    }
    .content .main .text {
        font-size: 12px;
        max-width: 320px;
        margin-bottom: 5px;  
    }
    .content {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .content .main {
        margin-left:10px;
    }
    .content .form_email {
    width:160px;
    height:40px; 
        font-size: 12px;
    }
    .content .form_submit {
    
      width:100px;
    height:40px;  
      font-size: 12px; 
        padding:13px;
        padding-bottom:27px;

    }
     .content  .main {
        margin-left: 30px;
    }  
}
@media screen and (max-width:600px) {
    .content  .video {
        display: none;
    } 
}
.bottom {
    max-width: 1600px;
    height: auto;
    overflow: hidden;
    background:white;
    padding-bottom: 10px;
}
.bottom .text{
    font-family: arial;
    font-size: 16px;
    color:#848484;
    text-align:center;
    max-width:800px;
    height:auto;
    margin:0 auto;
    margin-top: 60px;
    font-style: italic;
}
.bottom .zagolovok {
    font-size:22px;
    font-family: Arial;
    font-weight: bold;
    margin-top:30px; 
    text-align: center;
    
}
.bottom .image .peoples{
    background: url("image/peoples.png") no-repeat;
    margin: 0 auto;
    margin-top:30px;
    width:1137px;
    height: 50px;
}
.bottom .zagolovok1 {
   font-size:28px;
    font-family: Arial;
    font-weight: bold;
    margin-top:30px; 
    text-align: center;   
}
.bottom .text1{
    font-family: arial;
    font-size: 16px;
    color:#848484;
    text-align:center;
    max-width:800px;
    margin:0 auto;
    margin-top: 30px;
    font-style: italic;
}
.bottom .social {
    display:block;
    width:260px;
    height: 35px;
    margin:0 auto;
    margin-top:30px;
}
.bottom .social .circle {
    width:35px;
    height: 35px;
    border-radius: 50%;
    float:left;
    margin:0 5px;
    cursor: pointer;
   
}
@media screen and (max-width:480px){
    .bottom .text {
        font-size: 12px;
        margin-top: 5px;
    }
    .bottom .zagolovok {
         font-size: 16px;
        margin-top: 10px;
        
    }
    .bottom .zagolovok1 {
         font-size: 16px;
        margin-top: 10px;
        
    }
    .bottom .text1 {
        font-size: 12px;
        margin-top: 5px;
    }
}
.bottom .social .twitter{
    margin-left:0px;
    background-image: url(image/twitter.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .facebook{
    background-image: url(image/facebook.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .pinterest{
    background-image: url(image/Pinterest.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .google{
    background-image: url(image/google.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .instagram{
    background-image: url(image/instagram.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .youtube{
    margin-right:0px;
      background-image: url(image/youtube.png);
    background-repeat: no-repeat;
    background-size: 35px;
}
.bottom .social .circle:active {
   box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);  
}
.for-footer{
height:130px;    
}
.footer {
    margin: 0px auto;
    max-width:1600px;
    height:130px;
    background:#e3e3e3;  
    margin-top:-130px;
    position:relative;
    font-size:14px;
    font-family: Arial;
    color:#848484;
    max-width: 1600px;
   padding-left: 30px;
    position: relative;
    
}
.footer .container{
    max-width:1400px;
    height:auto;
    margin:0 auto;
    padding-top:58px;   
    text-align: center;
}
.footer-list li {
    position: relative;
    display:inline-block;
    margin: 0px;
    margin-right:36px;
    margin-left:0;   
}
.footer-list a:link, .footer-list a:visited{
    color:#848484;
}
.footer-list a:hover {
  color:#2ad0d0;  
}
.footer-list a:active {
text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28),0px 0px 10px rgba(129, 7, 7, 0.76);    
color:#2ad0d0;    
}
@media screen and (max-width:480px) {
    .footer-list li {
        font-size: 12px;
    }  
    .footer .container {
        padding-top: 30px;
    }
}